@charset "UTF-8";
/*
magenta
red
tomato
orange
yellow
lime
green
blue
indigo
purple
violet
pink
*/

body {
  text-shadow: 0 0 5px white;
}

div:nth-child(1) {
	background-color: magenta;
}

div:nth-child(2) {
	background-color: red;
}

div:nth-child(3) {
	background-color: tomato;
}

div:nth-child(4) {
	background-color: orange;
}

div:nth-child(5) {
	background-color: yellow;
}

div:nth-child(6) {
	background-color: lime;
}

div:nth-child(7) {
	background-color: green;
}

div:nth-child(8) {
	background-color: blue;
}

div:nth-child(9) {
	background-color: indigo;
}

div:nth-child(10) {
	background-color: purple;
}

div:nth-child(11) {
	background-color: violet;
}

div:nth-child(12) {
	background-color: pink;
}